@use '@angular/material' as mat;

// Incluir los estilos comunes de Angular Material
@include mat.core();

// Definir las paletas de colores personalizadas
$primary-color: mat.define-palette(mat.$pink-palette);
$accent-color: mat.define-palette(mat.$amber-palette);

// Definir el tema claro utilizando las paletas
$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary-color,
    accent: $accent-color,
    warn: mat.define-palette(mat.$red-palette)
  )
));

// Incluir el tema para los componentes de Angular Material
@include mat.all-component-themes($custom-theme);
